{% extends "blog/base.html" %} {% block content%}
{% load widget_tweaks %}
<h1 class="subtitle">{{post.title}}</h1>
<small>Posted at {{post.posted_date}}</small>
<p>{{post.intro}}</p>
<p>{{post.body}}</p>

<hr />

<!-- show comments -->
<h2 class="subtitle">comment</h2>

{% for comment in post.comments.all %}
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{comment.name}}</strong>
                <small>{{comment.posted_date}}</small>
                <br />
                {{comment.body}}
            </p>
        </div>
    </div>
</article>
{% empty %}
<div class="notification">
    <p>No comment yet.</p>
</div>
{% endfor %}

<hr />

<!-- comment-post area -->
<h2 class="subtitle">Add a new comment</h2>

<form action="." method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div>
        <div class="control">
            <button class="button is-danger">Send</button>
        </div>
    </div>
</form>
{%endblock%}
