{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="hero is-dark is-small"> 
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          所属団体
        </p>
        <p class="subtitle">
          合計で29団体に所属しています
        </p>
      </div>
    </div>
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li class="is-active"><a>Overview</a></li>
            <li><a href="#konin">公認サークル</a></li>
            <li><a href="#hi-konin">非公認サークル</a></li>
            <li><a href="#gakkai_kenkyukai">学会・研究会</a></li>
          </ul>
        </div>
      </nav>
    </div>
</section>
<div class="block" id="WebDev">
    <section class="hero is-black is-small is-1 has-text-centered mt-6">
        <div class="hero-body">
            <p class="title">Web Development</p>
        </div>
    </section>
    <article class="message is-dark m-3 ">
        <div class="message-header">
          <a href="">Imakuri様のフィードバックシステム</a>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </div>
    </article>
    </div>
</div>
<div class="block" id="Notion">
    <section class="hero is-success is-small is-1 has-text-centered">
        <div class="hero-body">
            <p class="title">非公認サークル</p>
            <p class="subtitle">新規で発足した物に多く参加しています</p>
        </div>
    </section>
    <div class="block" id="kokusaikouryu_gengo">
        <div class="block">
            <p class="title is-3 has-text-centered mt-5">国際交流・言語</p>
        </div>
        <ul class="content has-text-centered">
            <li class="content has-text-centered">阪大言語サークルGGC</li>
            <li class="content has-text-centered">たまこみ</li>
            <li class="content has-text-centered">国際交流サークルCOCO箕面</li>
            <li class="content has-text-centered">タイサークル</li>
            <li class="content has-text-centered">同志社語学同好会</li>
            <li class="content has-text-centered">東大語学愛好会</li>
            <li class="content has-text-centered">Liaris Event</li>
        </ul>
    </div>
    <div class="block" id="kenkyu-kai">
        <h3 class="title is-3 has-text-centered mt-5">研究会</h3>
        <ul class="content has-text-centered">
            <li class="content has-text-centered">発明研究会</li>
            <li class="content has-text-centered">本サー</li>
            <li class="content has-text-centered">トイレ研</li>
            <li class="content has-text-centered">Gadget研究会</li>
            <li class="content has-text-centered">筋トレ色彩</li>
            <li class="content has-text-centered">再バ同</li>
            <li class="content has-text-centered">好奇心学問</li>
            <li class="content has-text-centered">OUCC</li>
        </ul>
    </div>
    <div class="block" id="ongaku">
        <h3 class="title is-3 has-text-centered mt-10">音楽</h3>
        <ol class="content has-text-centered">
            <li class="content has-text-centered">弾き語りサークル</li>
            <li class="content has-text-centered">カラオケサークル</li>
        </ol>
    </div>
    <div class="block" id="misc">
        <h3 class="title is-3 has-text-centered mt-10">その他</h3>
        <ul class="content has-text-centered">
            <li class="content has-text-centered">Vtuber</li>
            <li class="content has-text-centered">代表サークル</li>
        </ul>
    </div>
</div>
<div class="block" id="gakkai_kenkyukai">
    <section class="hero is-success is-small is-1 has-text-centered">
        <div class="hero-body">
            <p class="title">
                学会・研究会
            </p>
            <p class="subtitle">
                まだ学部生なので聞く専です
            </p>
        </div>
    </section>
    <div class="block">
        <div class="block">
            <p class="title is-3 has-text-centered mt-5">言語学</p>
        </div>
        <ol class="content has-text-centered">
            <li class="content has-text-centered">日本言語学会</li>
            <li class="content has-text-centered">近畿音声言語研究会</li>
        </ol>
    </div>
</div>
{% endblock %}
