{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="x-icon" href="images/yoshi_pen.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
      /* Override Bulma's font family */
      body, .title, .subtitle, .subtitle.is-1, .subtitle.is-2, .subtitle.is-3, .subtitle.is-4, .subtitle.is-5, .subtitle.is-6, .button {
        font-family: Mincho, serif !important;
      }
    </style>
</head>
<body>
  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="achievements">
          Achievements
        </a>
        <a class="navbar-item">
        Portfolio
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-outlined is-success">
            Language
          </a>
          <div class="navbar-dropdown is-right">
            <a href="#" class="dropdown-item">
              English
            </a>
            <a class="dropdown-item">
              中文
            </a>
            <a class="dropdown-item">
              हिन्दी
            </a>
            <a href="#" class="dropdown-item">
              Español
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item">
              More languages
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="has-background-light">
  {% block content %}
  {% endblock %}
  </div>
  <footer class="footer">
    <div>
      <a class="navbar-item" href="/">
        <img src="{% static 'images/x_logo.svg' %}" alt="Your Alt Text">
      </a>
    </div>
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
</body>
</html>