{% extends "base.html" %} {% block content %}
    <div class="block">
        <a href="https://twitter.com/supegoroshiago" class="column is-black">
            X(formerly Twitter)
        </a>
    </div>
    <div class="block">
        <a href="https://www.youtube.com/channel/UC_8UeUCcz8sXmlqu9E6ixnQ" class="column is-black">
            YouTube
        </a>
    </div>
    <div class="block">
        <a href="" class="column is-black">
            Qiita
        </a>
    </div>
    <div class="block">
        <a class="column is-block" href="https://github.com/yunaimatsu" class="column is-black">
            Github
        </a>
    </div>
    <div class="block">
        <a href="https://cookpad.com/kitchen/57692378" class="column is-block">
            Cookpad
        </a>
    </div>
</div>
{% endblock %}