@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    color: #FFF;
    text-shadow: 0 0 5px gray, 0 0 10px gray, 0 0 15px gray, 0 0 20px gray, 0 0 30px gray, 0 0 40px gray;   
}

a {
    color: #DDD;
}

a:hover {
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
    color: white;
}

#title {
    font-family: "Exo 2", sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    margin: 0.5em 1em;
    text-decoration: none;
}

p {
    margin: 0;
}

footer {
    font-size: 1em;
    font-family: 'Roboto', serif;
    padding: 0.5em;
    margin: 0;

    /* border */
    border-top-style: solid;
    border-top-color: #333;
    border-top-width: 1px;
}

.navbar {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    /* border */
    border-bottom-style: solid;
    border-bottom-color: #333;
    border-bottom-width: 1px;

    padding: 1rem;
    height: 2em;
    background-color: #131722;
    color: white;
    font-family: 'Roboto', serif;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%; 
}

.lgroup {
    font-weight: bold;
    font-size: 1em;
    margin-left: 1em;
}

.footer-title {
    margin-left: 1em;
}

.f-container {
    padding: 1em;
    margin: 1em 3em 1em 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.f-item {
    text-align: center;
    justify-content: center;
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (width <= 600px) {
    .f-container {
        grid-template-columns: 1fr;
        padding: 1em;
    }
}

@media only screen and (300px <= width <= 600px) {

}